<% provide(:title, "About") %>
<h1>About</h1>
<p>
This is a <a href="http://www.twitter.com/"><em>Twitter Sample App</em></a> which is developed using <a href="http://rubyonrails.org/">Ruby on Rails</a>, and was created by <a href="https://www.linkedin.com/in/ahmedfouadelta/">Ahmed Mohamed Fouad</a>. </p> <p>
This application includes examples of all the major features of Rails, including models, views, controllers, templates, partials, filters, validations, callbacks, has_many/belongs_to and has_many :through associations, security, testing, and deployment.
</p>
<p>
You can find the code for the project on <a href="https://bitbucket.org/Elta3lab/sample_app">BitBucket</a> and on <a href="#">Github</a>.
</p>